/.venv/
/resource/video_sample
/__pycache__/
/.pytest_cache
/app/.pytest_cache
/.mypy_cache/
/dist
/build
/app/__pycache__/
/app/utils/__pycache__/
/app/views/__pycache__/
/app/models/__pycache__/
/flowchart/svg
/logs
/database
/app_backup_20250525