/.venv
/.venv312
/.vs
/.vscode
/resource/video_sample
/__pycache__/
/.pytest_cache
/app/.pytest_cache
/.mypy_cache/
/release
/dist
/build
/app/__pycache__/
/app/tests/__pycache__/
/app/utils/__pycache__/
/app/views/__pycache__/
/app/models/__pycache__/
/flowchart/svg
/logs
/database
/*.DS_Store
/assets
/resource
/preds/**/**.mp4